<div class="container">
  <div class="card mb-3">
    <% if @cocktail.image.attached? %>
      <%= image_tag @cocktail.image, class: 'card-img-top'%>
    <% end %>
    
    <div class="card-body">
      <h5 class="card-title"><%= @cocktail.name %></h5>
      <h6 class="card-text"><%= @cocktail.description %></h6>
      <p class="card-text">
        <small class="text-muted">
          <% @cocktail.doses.each do |dose| %>
            <li>
              <%= dose.description %> - <%= dose.ingredient.name %> (<%= link_to "delete", cocktail_dose_path(@cocktail, dose), method: :delete %>)
              (<%= link_to "update", edit_cocktail_dose_path(@cocktail, dose) %>)
            </li>
          <% end %>
          <%= link_to "Add +", new_cocktail_dose_path(@cocktail) %>
          <%= link_to "Edit", edit_cocktail_path(@cocktail) %>
        </small>
      </p>
    </div>
  </div>
</div>